<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467414144134-eeshid25l2v9b8u3dktus5m2gkagacku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467414144134-eeshid25l2v9b8u3dktus5m2gkagacku</string>
	<key>API_KEY</key>
	<string>AIzaSyC-fvhn0BJLwv-tdwdQDEmBBhqVleCkuMw</string>
	<key>GCM_SENDER_ID</key>
	<string>467414144134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asobiMyFinalApp</string>
	<key>PROJECT_ID</key>
	<string>asobimyfinalapp</string>
	<key>STORAGE_BUCKET</key>
	<string>asobimyfinalapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467414144134:ios:d08e66a98ee3fe80</string>
	<key>DATABASE_URL</key>
	<string>https://asobimyfinalapp.firebaseio.com</string>
</dict>
</plist>